h1 {
    text-align: center;
    background: 'red';
    border: red solid 5px;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: 'blue';
    border: red solid 5px;
}
